body{
    background-image: url("/Leap.webp");
    background-position:top;
    background-size:cover;
}
.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    background-color: rgb(0,0,0,0.5);
    color:white;
}